name: Continuous Integration
on:
 pull_request:
   types: [opened, synchronize, reopened]
 push:
   branches:
     - master

jobs:
  report:
    name: Report
    runs-on: ubuntu-latest
    steps:
    - name: ref
      run: echo ${{ github.ref }}
    - name: event_name
      run: echo ${{ github.event_name }}
  build:
    name: Build
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:20.10.8
    strategy:
      matrix:
        os: [linux, darwin]
    steps:
    - name: checkout
      uses: actions/checkout@v3
    - uses: actions/setup-go@v5
      with:
        go-version: '1.22'
    - name: ci
      run: |
        docker run --rm \
        -v ${{ github.workspace }}:/workspace \
        -v ${{ github.workspace }}/go/pkg/mod:/go/pkg/mod \
        -w /workspace \
        golang:1.22 \
        /bin/sh -c "go mod download && make fmt-check vet test OS=${{ matrix.os }}"
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
        version: v1.59.0
      
