name: New Tag and Release

on:
  workflow_dispatch:
  create:

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build-reusable.yml

  create_release:
    if: github.ref_type == 'tag' && startsWith(github.ref, 'refs/tags/v')
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Built Artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist/
      - name: GitHub Release
        uses: softprops/action-gh-release@v2
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            draft: false
            files: dist/*
            generate_release_notes: true

